[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyserial = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
pyqt5 = "*"

[requires]
python_version = "3.8"
